<!-- <h1>WELCOME TO OUR ANGULAR FIRST CLASS</h1>
<p>It's so nice having Senior Dev Temi and Senior Dev Elijah here</p> -->
<!-- <app-product></app-product> -->
<nav class="nav bg-dark text-white">
    <li class="nav-item">
        <a class="nav-link active text-light" routerLink="/signin">Signin</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active text-light" routerLink="/signup">Signup</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active text-light" routerLink="/product">Product</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active text-light" routerLink="/store/signup">Store Signup</a>
    </li>
</nav>
<router-outlet>
</router-outlet>